.navbar{
    height:50px;
    padding: 10px 0;
    background-color: white;
}

.navbar ul {
    list-style:none; /* 去掉ul前面的符号 */
}
.navbar ul li {
    float:left;
}
.navbar ul li a, div.navbar ul li a:visited {
    /*background-color: #465c71; !* 背景色 *!*/
    /*border: 1px #4e667d solid; !* 边框 *!*/
    /*color: #dde4ec; !* 文字颜色 *!*/
    display: block; /* 此元素将显示为块级元素，此元素前后会带有换行符 */
    line-height: 1.35em; /* 行高 */
    padding: 4px 20px; /* 内部填充的距离 */
    text-decoration: none; /* 不显示超链接下划线 */
    white-space: nowrap; /* 对于文本内的空白处，不会换行，文本会在在同一行上继续，直到遇到 <br> 标签为止。 */
}

.navbar ul li a:hover {
    /*background-color: #bfcbd6; !* 背景色 *!*/
    /*color: #465c71; !* 文字颜色 *!*/
    text-decoration: none; /* 不显示超链接下划线 */
}

.navbar ul li a:active {
    /*background-color: #465c71; !* 背景色 *!*/
    /*color: #cfdbe6; !* 文字颜色 *!*/
    text-decoration: none; /* 不显示超链接下划线 */
}

.banner{
    background-image: url("../img/banner.jpg");
    height: 375px;
    display: flex;
    justify-content:center;/*水平居中*/
    align-items:center;/*垂直居中*/
}
.banner p{
   color:white;
}

/*blog详细页面*/
.blog-panel{
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    box-sizing: border-box;
}

.blog-title{
    display: flex;
    align-items:center;
    height: 50px;
    border-bottom: 1px solid #f6f6f6;
    font-size: 22px;
}

.blog-title h1{
    font-size: 22px;
}

/*blog主页*/
.blog-item{
    display: flex;
    align-items:baseline;
}
.abstract{
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

.div-center{
    display: flex;
    justify-content: center;
}

.footer{
    padding: 80px 0 50px 0;
}