*{
  margin:0;
  padding:0;
}

a:hover,a:focus {
  text-decoration: none;
}

/*防止内容被navbar挡住*/
body{
  margin-top: 70px;
}

.float-right{
    float: right;
}

/*响应式navbar*/
.navbar-default{
    background-color: white;
    border-color: white;
}

.navbar-default .navbar-toggle {
    border-color: white;
}

.navbar-header .nav-title:hover,
.navbar-header .nav-title:focus{
  color:#000;
}


.navbar-collapse .navbar-nav li a:hover,
.navbar-collapse .navbar-nav li a:focus{
  color:#000;
}

.banner{
    background-image: url("../img/banner.jpg");
    height: 375px;
    display: flex;
    justify-content:center;/*水平居中*/
    align-items:center;/*垂直居中*/
    background-size: cover;
    margin-bottom: 10px;
} 


.banner p{
   color:white;
}

/*blog详细页面*/
.blog-panel{
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    box-sizing: border-box;
    padding: 0 15px;
}

.blog-title{
    display: flex;
    align-items:center;
    height: 50px;
    border-bottom: 1px solid #f6f6f6;
    font-size: 22px;
}

.blog-title h1{
    font-size: 22px;
}

.blog-content{
    margin:15px 0; 
    overflow:hidden;/*若里面有float元素，可将容器撑大*/
}

.btn-submit{
    float: right;
    margin-top: 15px;
}

/*blog主页*/
.blog-item{
    /*display: flex;
    align-items:baseline;*/
    padding: 15px;
    border-bottom: 2px dashed #f6f6f6;
}

.blog-item h1{
    /*padding: 1em 80px 0 80px;*/
    font-size: 24px;
    /*margin: 1.5em -80px 0.5em -80px;*/
    /*text-shadow: 1px 1px #EFEFEF, 3px 3px #AEE2D9;*/
    /*border-top: 2px dashed #f6f6f6;*/
    /*color: #22C3AA;*/
    /*color: #4f4f4f;*/
    color: #337ab7;
    font-weight: bolder;
    overflow: visible;
}
.blog-item p{
    font-size: 16px;
    color: #999;
    line-height: 1.7;

}
.abstract{
   overflow-wrap: break-word;
}

.blog-item-time{
    float: right;
}

.div-center{
    display: flex;
    justify-content: center;
}


.tag{
    margin-right: 5px;
}

.tags{
    margin-right: 5px;
    margin-top: 5px;
}

.footer{
    padding: 80px 0 50px 0;
}

.pagination>li .active{
    background-color: #eee;
}


.comment-item{
    border-bottom: 1px solid #f6f6f6;
    padding: 15px;
}

.comment-author{
    display: flex;
    align-items: center;
}

.comment-author .avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #5b91f4;
    display: inline-block;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}

.comment-author .info{
    display: inline-block;
    margin-left: 20px; 
}

.comment-author .info p{
    margin: 0;
}

.comment-author .name{
    font: 16px bolder;
}

.comment-time{
    font-size: 12px;
    color: #969696;
}

.comment-content{
    margin-top: 15px;
    line-height: 20px;
}

.author-input{
    width: 150px;
}







